<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>https://rfqvmlgacotzwpsxevfo.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJmcXZtbGdhY290endwc3hldmZvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIxODE0MDgsImV4cCI6MjA5Nzc1NzQwOH0.TchtavMiVmfBI1DmoffiM3-ixXy0Bfr71lfAGGQjJTk</string>
</dict>
</plist>
